.container{
    
    width:1000px;
    background-color: rgb(243, 231, 231);
    height:700px;
    text-align: center; 
    margin: auto;
    border-radius: 20px;
    padding-top:5%
}
.para{
font-style: italic;
}
#parent{
    margin-top:5%;
}
.container2{
    background-color:yellow;
    width:100px;
    height:100px;
    text-align:center;
}
button{
    background-color:orange;
    border:1px solid;
    border-radius:5px;
    color:white;
}